* {
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

.wrapper {
  position: absolute;
  top: 5%;
  left: 9%;
  transform: translate(-50%, -50%);
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 40px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #e9e6e7;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #e2e2df;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px;
}

.crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px;
}

.crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px;
}

.crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px;
}

.crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px;
}

.crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px;
}

.crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 3px;
  height: 3px;
  right: 90px;
  bottom: 40px;
}

.star-2 {
  width: 3px;
  height: 3px;
  right: 70px;
  top: 10px;
}

.star-3 {
  width: 3px;
  height: 3px;
  right: 60px;
  bottom: 15px;
}

.star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px;
}

.star-5 {
  width: 3px;
  height: 3px;
  right: 10px;
  bottom: 35px;
}

.star-6, .star-7, .star-8 {
  width: 3px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s;
}

.star-7 {
  right: 50px;
  bottom: 60px;
}

.star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide-checkbox:checked + .toggle {
  background: #24D7F7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #050505;
  transform: translateX(50px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

.hide-checkbox:checked + .toggle .toggle-button {
  background: #050505;
  transform: translateX(50px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #FFF;
  left: 20px;
  top: 25px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #FFF;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #FFF;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #FFF;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}


@keyframes move {
  0% {
    transform: none;
  }
  
  25% {
    transform: translateX(2px);
  }
  
  100% {
    transform: translateX(-2px);
  }
}

.dark-mode-theme{
  background-color: #000 !important; 
  color: #fff !important;
}




/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* #preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* body{font-family: 'Edu TAS Beginner', cursive;} */

/* General stylings for the page*/
 body {font-family: 'Edu TAS Beginner', cursive;
  color: #272829;
  } 
  
  a {
    color: #0563bb;
    text-decoration: none;
  }
  
  a:hover {
    color: #067ded;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

 /* header of the webpage */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
    background-color: #d8a8d275;
  }
}

@media(max-width:992px){
  #main{
    background-color: rgb(204, 217, 221);
  }
}
/* navbar of the webpage */

/* * Navbar for Desktop   */

.nav-menu {
  padding: 0;
  display: block;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #1f1f1f;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span, .nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #6d7f91
}
@media (min-width: 992px) {
  .nav-menu a, .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}
.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
  color: #fff;
}
.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}
.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block; 
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none ;
  line-height: 0;
  cursor: pointer;
  color: white;
  border-radius: 50px;
  padding: 5px;
}
.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #1f1f1f;
}

/* home section of the webpage */
#home{
  width: 100%;
  height: 100vh;
  background: url('images/home1.JPG') top right no-repeat;
  background-size: cover;
  position: relative;
}

#home:before{
  content: "";
  background: rgba(7, 7, 7, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#home h1{
  color: #6d7f91;
  font-weight: bold;
  margin: 0%;
  line-height: 56px;
}

#home p{
  color:#45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#home p span{
  letter-spacing: 2px;
}
.home-links{
  font-size: 23px;
}
#home .home-links a{
  color:rgb(17, 37, 126);
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  margin-right: 20px;
}

#home .home-links a:hover {
  color: cornflowerblue;
}
@media (max-width: 992px) {
  #home {
    text-align: center;
  }
  #home h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #home p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

.icons{
  display: inline-flex;
  
}

.icons a{
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.icons a .layer{
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
@media (max-width: 900px) {
  .icons a .layer {
    width: 25px;
    height: 40px;
  
  }
}
.icons a:hover .layer{
  transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.icons a .layer span.bx{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
@media (max-width: 900px) {
  .icons a .layer span.bx{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
}
.icons a .layer span.bi{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
@media (max-width: 900px) {
  .icons a .layer span.bi{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
}
.icons a:hover .layer span:nth-child(1){
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2){
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3){
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4){
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5){
  opacity: 1;
  transform: translate(20px, -20px);
}

icons a:hover .layer span:nth-child(6){
  opacity: 1;
  transform: translate(25px, -25px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text{
  color: #f80909;
  border-color: #f80909;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
  color: #1DA1F2;
  border-color: #1DA1F2;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text{
  color: #2867B2;
  border-color: #2867B2;
}
#audiomack{
  width: 20px;
}

@media (min-width:992px){
  #audiomack{
    width: 50px;
    padding:10px;
    /* background-color: #011426; */
  }
}


.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text{
  color: rgb(238, 222, 222);
  border-color: black;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text{
  color:#45505b;
  border-color:#45505b;
}

.icons a:hover:nth-child(1) .layer span{
  box-shadow: -1px 1px 3px #f80909;
}
.icons a:hover:nth-child(2) .layer span{
  box-shadow: -1px 1px 3px #1DA1F2;
}

.icons a:hover:nth-child(3) .layer span{
  box-shadow: -1px 1px 3px #2867B2;
}

.icons a:hover:nth-child(4) .layer span{
  box-shadow: -1px 1px 3px rgb(233, 230, 228);
}

.icons a:hover:nth-child(5) .layer span{
  box-shadow: -1px 1px 3px #45505b;
}

.icons a .text{
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}


.icons a:hover .text{
  bottom: -35px;
  opacity: 1;
} 

/* About the webpage */

#about-img:hover{
  transition: 2s ease-in-out;
  transform: matrix(1.1, 0, 0, 1.1, 4, 2);
  cursor: pointer;
}

.full{
  font-weight: bold;
}

.listing{
  list-style-type: none;
}

.soon{
color: rgb(2, 0, 8);
font-weight: bold;
}
.section-title h1::before{
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 3px;
  background: #d60c0cda;
  bottom: -27px;
  left: calc(50% - 50px);
}
.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  left: calc(50% - 10px);
  bottom: -27px;
}

/* Facts about the page */
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}
.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: rgb(29, 16, 16);
  background-color: cadetblue;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}
.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/* Skills of the webpage

*/
/* Resume

*/

 
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}


.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(8, 126, 245, 0.021);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(27, 26, 26, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  color: white;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #0e7ceb;
  border-left: 3px solid #603e97;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #711ad4;
  border-right: 3px solid #0c85fd;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #e2e8ee;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #cdd2d8;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #e4e8ec;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #ec0579;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
/* 
@media (max-width:992px){
  div#services .services-body{
    background-color: red !important;
  }
  } */

div#services .services-body{
  background: rgba(8, 126, 245, 0.021);
display: flex;
flex-wrap: wrap;
  margin: 9px;
  padding: 9px;
  padding-top: 40px;
  vertical-align: auto;
  display: flex; 
  justify-content: center;
   align-items: center;
   max-width: 100%;
   max-height: 100%;
}

div#services .services-body:hover{
  box-shadow: 0px 0 30px rgb(15, 15, 15);
cursor:pointer;
transition: 1s ease-in;
}


div#services .body p{
  font-family:'Times New Roman', Times, serif;
}

#services-image{
  max-width: 100%;
  max-height: 100%;
}

/* #services-image-container::after{
  content: "";
  background: #d8a8d275;;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.7;
  max-height: 100%;
  
} */

.contact .info {
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  color: #0f0f0f;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

footer .icons-footer a{
  border-radius :50%;
  background-color:#1f1f1f;
  margin: 6px;
  width: 50px;
  height: 50px;
  padding: 6px;
}

footer .icons-footer a span{
  padding-right: auto;
  padding-left: auto;
}
footer .icons-footer a:hover{
 color: #1DA1F2;
 background-color: rgb(194, 184, 184);
}

/* 07033939608 */